{% extends '::base.html.twig' %}

{% block body %}
Hello {{ name }}!

Je vais mettre un joli tableau bootstrap<br>

Mis je vais commencer par un bouton pour être sur <br>

<button type="button" class="btn btn-primary btn-lg active">Link</button><br>

OK moiantenant un tableau

<table class="table table-bordered">
<thead>
<tr>
	<th>1</th>
	<th>2</th>
	<th>3</th>
</tr>	
</thead>

<tbody>
<tr>
<td>HUH</td>
<td>gjfdjklgh</td>
<td>fhjdsfkh</td>
</tr>
<tr>
<td>gfdsgfsdfg</td>
<td>gfsdgfdsg</td>
<td>kjfhgkhgfj</td>
</tr>
<tr>
<td>trestrez</td>
<td>htdrfgh</td>
<td>hgfdhd</td>
</tr>
</tbody>

</table>

{% endblock %}